@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}

html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}


body{
    color: #262626;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    background-color: #f6f6f6;
    width: 100%;
}
